# Django DB env keys
DB_NAME={DB_NAME}
DB_USER={DB_USER}
DB_PASSWORD={DB_PASSWORD}
DB_HOST={DB_HOST} # To run Django out of Docker, we must change this value for localhost
DB_PORT={DB_PORT}

# PostgreSQL ENV keys
POSTGRES_DB={DB_NAME}
POSTGRES_USER={DB_USER}
POSTGRES_PASSWORD={DB_PASSWORD}

# Project ENV variables
SECRET_KEY={"YOUR_SECRET_KEY"}
DEBUG={True or False}
ALLOWED_HOSTS={LIST_OF_ALLOWED_HOSTS}